div {
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0 0 20px rgba(50, 50, 180,1);
}

.Holder {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
    display: flex;
}

.Holder > div,.Holder * div  {
    display: flex;
}

.bot-left ul * li::selection,.bot-left ul > li::selection,
.bot-left ul * ol::selection, .bot-left ul > ol::selection { background: transparent }
.bot-left ul * li:hover,.bot-left ul > li:hover,
.bot-left ul * ol:hover, .bot-left ul > ol:hover { color: rgb(33, 122, 255); }


ul {
  padding-left: 5vw;
}

li {
  font-size:1.65vw;
  list-style-type: ">";
  padding-top: 2vh;
  padding-left: 1.5vw;
}
ol {
  font-size:1.5vw;
  padding-left: 0vw;
  padding-right: 3vw;
  padding-top: 1.5vh;
  list-style-type: ">";
  color:bisque;
}

.left {
  width: 25%;
  flex-direction: column;
}


.bot-left,.top-left {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-left {
  width: 100%;
  height:15%;
  font-size: 2vw;
}

.bot-left {
  width: 100%;
  height:85%;
  overflow-y: auto;
  align-items: unset;
  justify-content: left;
}

h6 {
  font-size: 0.8vw;
}


a {
    text-decoration: none;
    color: rgb(255, 255, 0)
}

a:hover {
    color: rgb(255, 187, 0);
}

.right {
  width: 75%;
  background-color: rgba(0,0,0,0.1);
  flex-direction: column;
}

.top {
  height: 15%;
  align-items:center;
  justify-content:right;
  background-color: rgba(0,0,0,0.35);
}

.top > img {
    max-width: 75%;
    height:75%;
    background-color: rgba(0,0,0,0.1);
}

.top {
  display:flex;
  justify-content:space-between;
  margin:auto 0 0;
}

.bottom {
  height: 85%;
  align-items: center;
  justify-content: center;
}

.center_div {
  box-shadow: none;
  width:98%;
  height:95%;
  font-size: 1.3vw;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
}



#Title {
    padding-left: 2vw;
}
